Flask==0.10.1
Flask-Admin==1.4.0
Flask-Bootstrap==3.3.5.7
Flask-SQLAlchemy==2.1
Flask-SuperAdmin==1.7.1
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
SQLAlchemy==1.0.11
WTForms==2.1
Werkzeug==0.11.3
dominate==2.1.16
flask-heroku==0.1.9
gunicorn==19.4.5
itsdangerous==0.24
peewee==2.7.4
sqlite-web==0.1.5
visitor==0.1.2
wsgiref==0.1.2
