body {

}
td:nth-child(n+2) {
    text-align: center;
}
th {
    text-align: left;
    padding: 10px;
}
.button {
    display: block;
}
.strikethrough:checked + span{
  text-decoration:line-through;
  color: gray;

}
.center {
    text-align: center;
}