{% extends "layout.html" %}
{% block content %}
  <form action="" method="post">
    <table>
      <tr>
        <th>Food</th>
        {% for store in locations %}
          <th value={{store}}>{{store}}</th>
        {% endfor %}
      </tr>
      {% for f in food %}
        <tr>
          <td>{{f.name|upper}}</td>
          {% for store in locations %}
            <td>
              <input type='checkbox' name="{{f.name + '_' + store.name}}" value=1 
              {% if store in f.locations %} checked {% endif %} >
            </td>
          {% endfor %}
          
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value='update'>
  </form>
{% endblock %}